<!-- <p>Hi</p>
<h1>Name: {{heroes.name | uppercase}}</h1>
<h2>Mobile Number: {{heroes.number}}</h2> -->


<!-- <div>
    <label>name:
      <input [(ngModel)]="heroes.name" placeholder="name"/>
    </label>
  </div> -->

  <h2>My Heroes</h2>
  <ul class="heroes">
    <li *ngFor="let hero of heroes"
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)">
      <span class="badge">{{hero.number}}</span> {{hero.name}}
    </li>
  </ul>
  <app-hero-detail [hero]="selectedHero"></app-hero-detail>